MONGO_URL=mongodb://localhost:27017

MORALIS_KEY=
RPC=
TOKEN_ADDRESS=0xDB8057d03d570A1E646ea652EaD15857Ee2bDD16
COHORT_ADDRESS=0xabD3dD6C6961c4b1345136B1024FcDAb01D8437d
CORS_ORIGIN=www.google.com,www.bing.com

JWT_TOKEN_ISSUER=wrp-backend
JWT_TOKEN_EXPIRES_IN=600
JWT_TOKEN_SECRET=


# ssh-agent bash -c 'ssh-add /home/mueed/.ssh/mueed-wrp; git pull'